#search-bar {
    dock: top;
    height: auto;
    width: 1fr;
}

#channel-select {
    width: 40;
}

#search-input {
    width: 1fr;
    margin: 0;
}

#search-results {
    height: 1fr;
    scrollbar-gutter: stable;
}

#detail-content {
    padding: 1 2;
}